#
# CONFIGURATION FILE FOR DISCORD BOT
# IMPORTANT: Do NOT rename this file,
# or any tags located within it. 
#

[bot]
# API Key
; REMOVE BEFORE COMMITTING ANY CHANGES
APIKey : Put Key Here

# The command prefix
prefix : !

# The message sent when an unknown command is used
unknownCommandMessage : Sorry! That command doesn't exist!

# Here you decide whether to send a help message following an unknown command
; Set this to either "True" or "False"
sendHelpOnUnknownCommand : True

# This message will be sent when the bot is active and ready for commands
onReadyMessage: 
    Patch Notes bot is active!
    --------------------------

# Here decide whether to send this message on ready
; Set this to either "True" or "False"
sendOnReadyMessage : True

# This message will be sent when the "hello" command is issued
; include <user> wherever you want the callers name included
helloMessage: Heyyyy, <user>!

[logging]
# The name of the logger
logName : leaderboardBotLogger

# The file location where logs are stored
logFile : leaderboard-bot.log

# The default logging level. 
logLevel : INFO

# The logging mode (w = write, a = append)
logMode : a
